<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1>Playing with EJS!</h1>

        <ul>
            <% for(let i=0;i<6;i++){%>
                <li>
                    <%=i%>
                </li>
                <%}%>
        </ul>
    </body>
</html>