<html>
    <head>
        <title>User Sign In</title>
    </head>
    <body>
        <h1>User Sign Up</h1>
        <form action="/user/create" method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="password" required>
        <input type="submit" value="sign-up">
    </form>
    </body>
</html>